[2020-01-12 10:09] bladerunner41 opened #12 "Feature: Password hasing using Web Crypto API"
Could I suggest adding a Password hashing function using the native [Web crypto API](https://developer.mozilla.org/en-US/docs/Web/API/Pbkdf2Params) to complement the other authentication capabilities for those using workers for authentication e.g. user signup, login, password reset.

I assume using the native optimised API would run with the paid 50ms CPU time where as regular node/npm modules for

[2020-01-12 23:04] jdanyow commented on #12
@bladerunner41 which package is this issue in reference to?

I agree, native web crypto API is the way to go. [@cfworker/jwt](https://github.com/cfworker/cfworker/blob/master/packages/jwt/README.md) uses the crypto API to verify JWT signatures.  [@cfworker/uuid](https://github.com/cfworker/cfworker/blob/master/packages/uuid/README.md) uses the crypto API to generate random numbers.

[2020-01-12 23:57] bladerunner41 commented on #12
hi @jdanyow apologies - I'm suggesting to create a new package - @cfworker/PBKDF2 or similar with functions to securely hash a password (for saving) and validate passwords against a stored hash as a higher level API.

Similar logic to providing the @cfworker/base64url package for common algorithms that exist in node.js.  If using node, people would typically use a standard node module or npm packa

[2020-01-13 00:08] jdanyow commented on #12
Got it. Something similar to https://www.npmjs.com/package/pbkdf2

[2020-01-23 02:02] bladerunner41 commented on #12
Yes - correct.

[2020-01-23 04:46] bladerunner41 opened #13 "Feature: web-router POST request body parsing"
A possible enhancement to remove boilerplate code for router POST request handeling would be to provide a parsed request body baed upon the content-type as per this code from [another CF worker project](https://github.com/panda-sandeep/telex/blob/master/index.js#L16):

[code]

[2020-01-29 04:58] bladerunner41 opened #14 "JWT: JWKS Caching approach ineffective"
The approach to JWKS caching is largely ineffective in a CF workers environment, as the cache won’t persist across requests/invocations and cause added latency to fetch the JWKS file externally each time.

Suggest enhancing the code to:
1. Use the CF Worker API to cache the XHR result (JWKS.json)
2. Support passing in a static JSON object of the JWKS XHR as per this library due to long expiry of t

[2020-01-29 14:39] jdanyow commented on #14
The cache is effective. Here's an example:
[code]
https://memory-cache.jdanyow.workers.dev/

[2020-01-29 14:45] jdanyow commented on #13
After thinking about this more, I'm going to close. There's a few issues with this:
1. The parsed request body isn't convenient, consumers will still need logic to determine whether it's an object, string, form data, etc.
2. Automatically parsing the request body is bad for perf, it breaks scenarios where the worker was only going to stream the response to the client.
3. Minor- the above code has

[2020-01-29 14:45] #13 closed

[2020-02-10 05:20] #14 closed

[2020-02-12 06:10] bladerunner41 commented on #14
Thanks @jdanyow.  Agree there is some caching across execution, but CF worker context resets in 60 seconds if there aren't any requests. For most services with low traffic, a lot of requests will have a 100-200ms cold start.

[2020-04-09 12:37] galaxy4public opened #22 "Request: support API token instead of API keys"
CloudFlare's API Key provides highly privileged access with no ability to manage the possible negative impact.  It would be much much better if `cfworker` could support the tokens instead (or in addition to).

Basically, instead of using e-mail and API key in the requests to the CloudFlare's API you could use:
[code]
Then access would depend on whatever is configured to that token (in the worst ca

[2020-05-18 13:28] jonatansberg opened #31 "Option to extend the rollup config"
Hey @jdanyow,
I love what you're doing here. The code is well structured, and everything is really neat and easy to follow. Great work!

I've been looking in to building a small web app framework on top of the web, web-router and dev packages and Svelte. I've come to the conclusion that on order to do so I'd need to extend the rollup config quite a bit. Ideally I would also need an additional buil

[2020-05-20 03:15] jdanyow commented on #31
Hey :wave: thanks for the kind words!

The dev package only exists because I didn't like Wrangler's debugging or bundling capabilities. Hopefully Wrangler gets better but in the meantime dev has been working for my use cases.

Word of caution, `@cfworker/dev`'s usage of headless chrome to simulate the worker has proven to be a bit cludgy in a few areas:
1. [Guarding the scope](https://github.com/c

[2020-05-21 12:39] matthias-t opened #33 "json-schema: support registering custom formats"
This is not strictly required per RFC. Normative references:

- draft 2019-09: https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.7
- draft 7: https://tools.ietf.org/html/draft-handrews-json-schema-validation-00#section-7
- draft 4: https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-7

[2020-05-23 23:43] jdanyow opened #37 "Add unit tests for router"

[2020-05-23 23:45] jdanyow opened #38 "Set content-type header based on body type"
Update ResponseBuilder to set content-type based on body type for string and object bodies.
https://github.com/koajs/koa/blob/9ee65843d9be96329a3279c63657c2970e260acf/lib/response.js#L152-L183

[2020-05-24 12:51] #38 closed

[2020-05-28 13:48] matthias-t commented on #33
Note that `ajv` initially supported custom formats for strings only. Later, this was revised and format handlers could be registered to handle either strings or numbers. Support for other types has been requested multiple times (https://github.com/ajv-validator/ajv/issues/291, https://github.com/ajv-validator/ajv/issues/418, https://github.com/ajv-validator/ajv/issues/1039). According to the draft

[2020-07-10 22:20] phb opened #63 "json-schema: Please enable an option to report all errors"
Hi,

First off, thanks for writing the json-schema component, it is very speedy and is perfect for our usecase. (Can't use AJV as the compilation step of the schema is too slow and our schema is dynamic)

We need an option to report all errors in the schema, instead of stopping and only reporting the "top level" errors. (the 'stop' variable in validate.ts)

Is this something you would consider to

[2020-07-22 02:58] jdanyow commented on #63
Nice- glad you're finding this useful. I'd accept a PR to disable the short-circuit evaluation.

How about we add `private readonly shortCircuit = true` to the Validator constructor:
https://github.com/cfworker/cfworker/blob/718240d2d61043e71232f2ad2a58c65a6aad776e/packages/json-schema/src/validator.ts#L8-L11

Then add `shortCircuit = true` to the validator function arguments after the `lookup` ar

[2020-07-22 03:24] phb commented on #63
Sounds good to me -- thanks for the detailed proposal. I'll submit a patch later today.

[2020-07-24 00:36] jdanyow commented on #63
thanks for the PR, shipped in `@cfworker/json-schema@1.3.0`

[2020-07-24 00:36] #63 closed

[2020-08-08 01:07] lopezjurip opened #69 "Not handling HEAD requests"
There is a bug here:
https://github.com/cfworker/cfworker/blob/master/packages/web/src/router.ts#L15

[code]

Instead of:
[code]

[2020-08-12 20:05] duffn opened #70 "Documentation on how to deploy static site"
First, thanks for these utilities.

I'm having difficulty figuring out how to deploy a simple static site. What should I be passing into the `--site` argument? I have my static site build locally and in a `public` directory in the cwd.

[code]

results in

[code]

I'm happy to open a PR for the README if I can figure out how to properly pass in my static site directory.

[2020-08-24 03:59] jdanyow commented on #70
Wrangler sites creates a worker script that uses `@cloudflare/kv-asset-handler`. The script looks like this: https://github.com/cloudflare/kv-asset-handler#return

cfworker doesn't generate a site worker script so you'd need to create one using the example above. Assuming you created a worker script matching the example and the script was at `./path/to/worker.js` then the following command should

[2020-08-27 00:06] #69 closed

[2020-08-28 14:20] duffn commented on #70
Thank you, this worked! Well, nearly.

With your direction, here's what I did for others to reference.

- `wrangler init --site my-site-name`.
- Took the contents of `index.js` in `workers-site` from the files generated by the above command.
- Created a `worker.js` file with the above contents (you can just as easily use the created `index.js` file itself).
- Built my static site into the `public`

[2020-08-28 22:02] jdanyow commented on #70
@duffn nice work! Looks like cfworker is missing this step:

https://github.com/cloudflare/wrangler/blob/7798fb04242fc58e8e58c98087bd40b04a126134/src/deploy/mod.rs#L52-L64

(posting `{ enabled: true }`)

Probably goes here in the deploy code, apologies this area isn't very tidy :grimacing:
https://github.com/cfworker/cfworker/blob/master/packages/dev/src/cloudflare-api.js#L94

[2020-09-09 17:36] thetre97 opened #75 "Cosmos client Fetch error"
When I try to run a command with the Cosmos client, it always throws this error: `Illegal invocation`.
I found that if I changed L#339 in `client.ts` to `await fetch(request)` instead of `await this.systemFetch(request)`, the request then worked.

I am using the worker `webpack` template, Wrangler version `1.11.0`, and `@cfworker/cosmos` version `1.4.1`.

[2020-09-24 22:50] jdanyow commented on #75
I think this line needs to change:
https://github.com/cfworker/cfworker/blob/920318f7a22c6f13b138d2092a2f52938ca8f31b/packages/cosmos/src/client.ts#L81

[code]

[2020-10-03 17:48] sgravrock opened #77 "Error importing @cfworker/json-schema when not using a bundler or transpiler"
Steps to reproduce:

1. Install `@cfworker/json-schema`.
2. Create `test.mjs` as follows (or paste in any of the examples from the README):
[code]
3. Run `node test.mjs` (or `node --experimental-modules test.mjs` if using a version before 12).

I get the following error:
[code]

It looks like the TypeScript compiler is generating output that isn't compatible with Node's ES module loader. Specifica

[2020-10-04 04:57] #75 closed

[2020-10-04 05:20] #77 closed

[2020-10-04 05:25] jdanyow commented on #77
fixed in 1.6.0
https://www.npmjs.com/package/@cfworker/json-schema/v/1.6.0

thanks for the report

[2020-10-04 05:26] jdanyow commented on #75
this is fixed in 1.6.0- thanks for the report

[2020-10-07 01:00] sgravrock commented on #77
Thanks for the quick fix!

[2020-10-17 09:14] kungfoolabs opened #81 "ES Module Error for json-schema"
Hi,

I am using Typescript in my project and getting an error from ESM. I believe the issue is that Typescript is transpiling and doesn't recognize that json-schema is type `module` so it tries to use `require`. Is there a workaround for this?

Error below:
[code]

[2020-10-17 10:55] oddui opened #82 "@cfworker/sentry build issue"
When building with the wrangler tool, webpack complains cannot find `@cfworker/uuid`.

[code]

I think `@cfworker/sentry` should have `@cfworker/uuid` as a dependency in package.json.

[2020-10-17 17:37] #82 closed

[2020-10-17 17:50] jdanyow commented on #82
fixed in [@cfworker/sentry 1.6.2](https://www.npmjs.com/package/@cfworker/sentry/v/1.6.2). thanks for reporting

[2020-10-17 17:53] jdanyow commented on #81
Hard to say without knowing more about your build setup. `@cfworker/json-schema` is an ES module and has `"type": "module"` in it's package.json.

[2020-10-17 17:54] jdanyow commented on #12
Closing this as out of scope for now.

[2020-10-17 17:54] #12 closed

[2020-11-07 18:12] #81 closed

[2020-11-27 08:05] oddui opened #86 "@cfworker/sentry source maps support"
I'm having difficulty figuring out how to show original code in sentry. I have setup the release value in @cfworker/sentry and uploaded source maps to the release in sentry.

Errors in sentry do not show the original code:

![image](https://user-images.githubusercontent.com/720036/100424858-4e570500-30e2-11eb-84f3-06f5923addb4.png)

I have tried to upload the source map as `~/worker.js.map` and `/

[2020-11-29 19:37] jdanyow opened #87 "validate with multi-part form data throws request body used"

[2020-11-29 20:34] jdanyow commented on #86
I haven't implemented source map support in the `@cfworker/sentry` package. It hasn't been something I've needed because I use rollup to build my worker, without minification/uglification.

[2020-11-29 20:40] #87 closed

[2020-11-30 02:55] oddui commented on #86
Hi @jdanyow, will this be something you will look into?

I tried to change the stacktrace filename to `/worker.js` by changing
[code]

It didn't work.

[2020-11-30 05:23] jdanyow commented on #86
hey @oddui, apologies, this is not something I have the bandwidth to prioritize anytime soon. I'd happily accept a PR if you find a solution.

[2020-12-01 05:32] oddui commented on #86
@jdanyow no problem. I've turned off minification in my wrangler build but it would be nice to see the original typescript code.

Would it be ok if I replace tracekit.ts with [stacktrace-js package](https://github.com/stacktracejs/stacktrace.js) to parse the error?

[2020-12-10 08:13] m3hari opened #89 "JWT: Support for x509 PEM cert"
Hello! Thanks for the nice work!

To provide a bit of backgorund , I am trying to use firebase authentication on cf workers environment.
So I was trying to use this package until I find out, firebase-auth doesn't provide `JWKS.json` instead they provide "public keys in (pem) format , to verify signature. Here are the keys for reference, https://www.googleapis.com/robot/v1/metadata/x509/securetoken

[2020-12-11 23:07] jdanyow commented on #89
The keys you linked appear to be PEM encoded x509 certs. I found a [blog post](https://blog.engelke.com/2014/10/21/web-crypto-and-x-509-certificates/) that describes how to parse these and eventually use [importKey](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey) to get a CryptoKey. Assuming all that works you could then export the CryptoKey as a jwk that `@cfworker/jwt` c

[2020-12-19 05:33] m3hari commented on #89
@jdanyow We were able to convert x509 certificate to `CryptoKey` following that blog post, but at the end it turns out firebase
publish JWK with standard format [here](https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com) , though they don't mention it in the docs.

As you can see firebase don't use `wellknow/jwk.json` path and they publish set of keys in array

[2020-12-19 21:12] jdanyow commented on #89
sounds good, thanks for the PRs

[2020-12-19 21:12] #89 closed

[2020-12-19 21:21] #31 closed

[2021-01-23 14:53] frandiox opened #100 "Dev: Port argument in CLI does not work"
Running `cfworker run -w -p 1337 ./src/index.ts` throws `RangeError [ERR_SOCKET_BAD_PORT]: options.port should be >= 0 and < 65536. Received NaN`.

I think I've seen this before in some other CLI recently, so it might be an issue with a dependency used for the CLI (commander?).

[2021-01-25 14:22] katopz commented on #89
I facing this issue now, any update on this?

[2021-01-25 15:50] jdanyow commented on #89
@katopz try the instructions here and let us know how it goes https://github.com/cfworker/cfworker/issues/89#issuecomment-743472265

[2021-01-26 06:54] katopz commented on #89
Here's my result without optimize on mbp
[code]
Anyway the code itself seem to be all native function already.
Maybe it can optimize (or cached hash on k/v) somehow.

Thanks! 👍

[2021-02-20 06:18] jdanyow commented on #100
fixed in 1.6.8

[2021-02-20 06:18] #100 closed

[2021-02-20 06:19] jdanyow commented on #22
implemented in 1.6.8

[2021-02-20 13:09] jdanyow commented on #86
I took a look at stacktrace-js, I'd rather not use it directly because it contains much more code than we need due to support for all sorts of browsers. One of stacktrace-js's dependencies is error-stack-parser, is there anything in the parser code that we need to adopt in @cfworker/sentry?
https://github.com/stacktracejs/error-stack-parser/blob/master/error-stack-parser.js#L51-L84

Good to know-

[2021-02-20 13:10] #22 closed

[2021-03-01 12:23] leesus commented on #89
How do we verify Firebase tokens, given @m3hari PR was closed?

[2021-03-01 13:02] jdanyow commented on #89
You can use cfworker’s importKey function- mentioned in https://github.com/cfworker/cfworker/issues/89#issuecomment-743472265

[2021-03-15 09:09] brandiqa opened #107 "json-schema example in readme is broken"
I might be doing something wrong. Here's my source code:

[code]

The output is `{valid: true, errors: Array(0)}`

Was expecting valid to be false and errors list of fields with invalid data.

[2021-03-15 10:45] brandiqa commented on #107
I've found the solution. The problem is in the documentation. In [npm's documentation](https://www.npmjs.com/package/@cfworker/json-schema), the following code:

[code]

Should be written like this:

[code]
Basically, `required` should be outside of `properties`.

May I suggest a better example to illustrate validation for different data types:

[code]

If you would like, I can submit a PR with th

[2021-03-18 08:58] rubybb opened #108 "Add benchmarks?"
I'd love to see actual comparisons for the libraries compared to their originals.

[2021-03-20 15:03] jdanyow commented on #107
Thanks for reporting!

[2021-03-20 15:17] jdanyow commented on #108
@rubybb could you clarify this request? Which packages do you want to compare?

I've added `@cfworker/json-schema` to the [benchmark referenced on the json-schema site](https://json-schema.org/implementations.html#benchmarks:~:text=json%2Dschema%2Dbenchmark%20%2D%20an%20independent%20benchmark%20for,based%20on%20JSON%2DSchema%20Test%20Suite%20(MIT)). As noted in it's readme, it's slow because it d

[2021-03-20 20:12] rubybb commented on #108
Ah, I was just wondering if you could standardize releasing benchmarks for all packages compared to their usual. As packages like "jwt" work in most serverless containers the benefits are not really seen if not in benchmarks.

[2021-03-20 21:05] jdanyow commented on #108
Ah, something like `@cfworker/jwt` isn't competing on performance although I'm sure it's the fastest for *it's target runtime*. For example, `jsonwebtoken` by Auth0 is by far the most popular lib for working with JWTs *on node*. It depends on `jws` -> `jwa` -> `crypto`, node buffers, node streams, etc. It's not well suited for use in Cloudflare workers because they don't have node buffers, node st

[2021-03-21 23:34] #108 closed

[2021-03-23 10:31] frandiox opened #109 "[dev] Blob in request body might be corrupted"
Hi! I'm not sure if this is a bug or I just need to do things differently, so any help or pointers would be appreciated.

I'm trying to upload an image to a third party service (SanityIO) from the worker (frontend => worker => service). This service  accepts `File|Blob|Buffer|ReadableStream` in the body.

I use a normal `<input type="file">` element to get the File blob and pass it in the body of

[2021-03-25 09:44] brandiqa commented on #107
Great! Sorry for the late response. Just submitted the PR with the fix

[2021-03-26 23:23] biro456 opened #111 "Verifying JWTs with a custom JWKS url or specific key"
I'm using Cloudflare Access to secure some backend services and it doesn't serve the JWKS on the `${issuer}/.well-known/jwks.json`.

Currently I can't pass the JWKS url or a standalone `CryptoKey` to either `parseJwt` or `verifyJwtSignature`, so it's not possible to use `@cfworker/jwt` this library to validate them.

Also, it seems that even though `${issuer}/.well-known/jwks.json` is available in

[2021-03-26 23:29] biro456 opened #112 "Sign JWTs with @cfworker/jwt"
There is no API to sign JWTs and it would be a great addition.

[2021-03-28 17:53] #107 closed

[2021-03-28 18:01] jdanyow commented on #111
As a workaround you can manually import the key using this function:
https://github.com/cfworker/cfworker/blob/c84d1aae24aa3267d8e786c3830e14cb21a9444f/packages/jwt/src/jwks.ts#L20-L25

If you have a CryptoKey instance already, here's the code to export it as a jwk:
[code]

[2021-03-28 21:39] jdanyow commented on #109
Thanks for reporting this. Fixed in [@cfworker/dev 1.6.10](https://www.npmjs.com/package/@cfworker/dev/v/1.6.10)

[2021-03-28 21:39] #109 closed

[2021-03-29 04:28] m3hari commented on #111
@biro456 [This](https://github.com/cfworker/cfworker/issues/89) was an exact same issue 😅

[2021-04-02 13:03] madruga8 opened #116 "Could not load virtual:multi-entry.js: invalid glob pattern"
hello,

im getting this error on cfwoker while on wrangler it runs ok... i would like to debug with cfworkers

$ cfworker run
⚠ @rollup/plugin-replace: 'preventAssignment' currently defaults to false. It is recommended to set this option to `true`, as the next major version will default this option to `true`.
✖ Error: Could not load virtual:multi-entry.js: invalid glob pattern:

my webpack  config

[2021-04-10 15:41] jdanyow commented on #116
hi @madruga8, this is not enough info to diagnose. Could you try again with the latest `@cfworker/dev`?

cfworker doesn't use your webpack config- you provide it an entry point module and it will bundle your application automatically using rollup.
[code]
[code]

[code]

[2021-04-15 04:49] #116 closed

[2021-04-16 19:06] frandiox commented on #109
Thanks for fixing it. For the record, it's not possible to get the file using `await req.body.arrayBuffer()`.

[2021-04-21 03:46] cptchloroplast opened #122 "Nestable routers or router base path"
I was wondering if you are able to nest routers or specify a base path for a router.

[2021-04-23 04:26] jdanyow commented on #122
I like the idea of specifying a base path in the router constructor. I need to do some research on how other routers implement this.

Would this work in the meantime?
[code]

[2021-04-23 09:58] ollym opened #123 "Cosmos DB client cross-partition ORDER BY queries fail"
Full summary of what is wrong is here:
https://stackoverflow.com/questions/50240232/cosmos-db-rest-api-order-by-with-partitioning

Basically CosmosDB has some hacks that allow ORDER BY queries but it requires implementation within the SDK itself, otherwise you get this rather cryptic error message:

[code]

[2021-04-24 18:01] dgitq opened #124 "Support for secrets and vars"
Hi and thanks a lot for these packages! Trying out the dev package but I stumbled since my worker is using vars and secrets as per the documentation:
https://developers.cloudflare.com/workers/cli-wrangler/configuration#vars
https://developers.cloudflare.com/workers/cli-wrangler/commands#secret

I guess I always can set vars as global variables but how to handle secrets, any suggestions ? Or do you

[2021-04-24 19:03] jdanyow commented on #123
@ollym I didn't try to implement these types of operations in @cfworker/cosmos because they would quickly make apps hit the Worker cpu/memory limits. Now that the workers unbound product exists it might be worth taking a look at what this would entail. I don't have the bandwidth or need to taking something like this on at the moment however.

[2021-04-24 19:17] jdanyow commented on #124
I'd like to go back and implement support for secrets/vars as part of work to support wrangler.toml configuration. I haven't had the bandwidth to pick that work up lately.

I'm currently using .env files to define secrets locally for development. Then I use a different set of production secrets [in github](https://docs.github.com/en/actions/reference/encrypted-secrets). In both cases cfworker dev

[2021-04-24 20:46] dgitq commented on #124
Thanks for your quick response, will look into that! 👍 Yea I agree that the secrets should not be in the repos or baked into the code during build time. Even if I switch to Key Vault or similar I would need to store some credential to access the vault, and we're effectively back to square one.

[2021-05-04 21:40] cptchloroplast commented on #122
This works great, thanks! Would love to see this integrated directly into the router

[2021-05-04 22:00] cptchloroplast opened #129 "Unable to test code that relies on @cfworker/web"
I am unable to successfully unit test code that depends on `@cfworker/web`. I had to switch back from using `@cfworker/dev` to manually  invoking `webpack` to build my code since one of my dependencies required node polyfills and `@cfworker/dev` does not include them nor expose an easy way to add additional plugins. I am using `ts-mocha` as a test runner, my tests are written in Typescript, and ge

[2021-05-15 03:05] jdanyow commented on #129
try adding `"../node_modules/@cfworker/**/*"` to the tsconfig `"include"` and could also try `allowJs: true` in the compiler options.

[2021-05-17 19:05] ben-xD opened #132 "When visiting my cloudflare worker: `cfworker No fetch handler attached."
Unfortunately when visiting the cloudflare worker URL provided by the browser page which automatically opens, I got a html page with `No fetch handler attached.`. I'm not sure how to fix it.

To run this, I used: `webpack --watch & cfworker run worker.js -p 14000 --watch --inspect`.

I have the code in [this](https://github.com/ben-xD/ably-cloudflare-workers/tree/cfworker) branch of the repo, the

[2021-05-20 15:41] jdanyow commented on #132
Question to help troubleshoot:

What happens after you've already used webpack to build worker.js, then execute the following on it's own:

[code]

[2021-05-20 16:04] ben-xD commented on #132
Hi @jdanyow , it has the same issue. I shouldn't have complicated it by adding webpack. :)

[2021-05-20 16:09] jdanyow commented on #132
Any errors in the console of the cfworker devtools window?

Do you really have the following characters:
`=&gt;`
Instead of:
`=>`?

[2021-05-29 17:47] jdanyow commented on #132
@ben-xD I think the command should be something like:
[code]

Based on your webpack config:
https://github.com/ben-xD/ably-cloudflare-workers/blob/main/webpack.config.js#L9-L12

[2021-05-29 20:52] ben-xD commented on #132
Thanks a lot @jdanyow, that fixed it :)

[2021-05-29 20:52] #132 closed

[2021-05-30 23:28] #129 closed

[2021-07-01 09:00] equt opened #136 "Support for KV Binding"
The #54 PR seems to add support for local KV testing and KV items uploading, while I didn't find a way setting KV bindings (like in `wrangler.toml`) using [`@cfworker/dev`](https://github.com/cfworker/cfworker/blob/main/packages/dev). It would be great to have such a feature.

Also, lots of thanks for maintaining these great packages. Packages like `dev` and `web` just work like a charm.

[2021-07-12 01:40] jdanyow commented on #136
hey @equt - there's a `--kv` flag you can use to bind a json file to a kv namespace. Apologies, there's no docs for this yet. Here's how it works:

Assuming you have the following files:

***/abc/xyz/GREETINGS.json***
[code]

***/worker.js***
[code]

Then the following command should work:
[code]

More info:

1. cfworker uses the [basename](https://nodejs.org/api/path.html#path_path_basename_path_

[2021-07-13 08:50] equt commented on #136
That was brilliant, and I find it way better than creating a `preview_id`. Also, the missing `list` method doesn't bother me since I barely use it.

But there seems to have no way of binding KV namespaces environment in production for now (like what wrangler does). I've done some quick research on Cloudflare API, maybe it's because wrangler used some private APIs?

[2021-07-13 18:42] jdanyow commented on #136
@equt is this to say while debugging locally with `cfworker run` you'd like to connect to production KV? Could probably build an alternate implementation of [MemoryKVNamespace](https://github.com/cfworker/cfworker/blob/main/packages/dev/src/runtime/kv.js#L31) which uses the kv rest api.
https://github.com/cfworker/cfworker/blob/main/packages/dev/src/cloudflare-api.js#L468

[2021-07-14 01:16] equt commented on #136
Sorry for the unclear, it's to say that [wrangler supports binding](https://developers.cloudflare.com/workers/cli-wrangler/configuration#kv_namespaces), so every time after deployment, I could see the namespaces automatically available to that specific worker in the Cloudflare dashboard like following.

![worker settings](https://user-images.githubusercontent.com/17521736/125544995-0ca7c078-958c-4

[2021-08-21 16:34] jdanyow opened #145 "json-schema: update test suite and fix failing $ref test"

[2021-09-11 07:41] Inrixia opened #148 "cosmos not returning anything"
When attempting to use the cosmos library I dont get back any results.
I'm using the below code for testing:
[code]
And I get this response without any documents:
[code]

[2021-09-11 07:42] Inrixia commented on #148
I should note I've also tried using ```documents.json()``` and looked at the other properties.

[2021-09-11 07:47] Inrixia commented on #148
Looks like using ```documents.raw``` to get the direct response and then work with that is working, seems like there is some bug with how the library is handling the response I guess

[2021-09-11 07:54] Inrixia commented on #148
Nevermind I was not awaiting documents.json like a idiot

[2021-09-11 07:54] #148 closed

[2021-09-15 12:38] #145 closed

[2021-09-15 12:42] jdanyow opened #150 "json-schema: implement 2020/12 dynamicRef and id changes"
https://github.com/cfworker/cfworker/blob/d333ff940566a7acc384ab791d8b73bed2a9a211/packages/json-schema/test/unsupported.ts#L173-L200
https://github.com/cfworker/cfworker/blob/d333ff940566a7acc384ab791d8b73bed2a9a211/packages/json-schema/test/unsupported.ts#L248-L258

[2021-09-15 12:48] jdanyow opened #151 "Migrate to changesets"
https://github.com/atlassian/changesets

[2021-10-26 15:04] yesennes opened #154 "Read draft from $schema"
When not provided a draft in the parameters, if a`$schema` field is present in schema, it should use that for drafts.

For instance
`new Validator({"$schema": "http://json-schema.org/draft-07/schema#","type":"object"}).draft` should be `'7'`

This is described in: [http://json-schema.org/understanding-json-schema/reference/schema.html](http://json-schema.org/understanding-json-schema/reference/sch

[2021-11-07 13:55] Inrixia opened #155 "The read session is not available for the input session token"
When querying `cosmos` via `@cfworker/cosmos` every now and then all requests will fail with code "NotFound" and the error `The read session is not available for the input session token`. After retrying several times everything returns to normal.

Any idea on why this happening and how to fix it?

[2021-11-07 13:56] Inrixia commented on #155
This is the query I am doing btw.

[code]

[2021-11-07 14:24] Inrixia commented on #155
It also seems that simply retrying is not enough, attempting to create the document, getting a conflict error and then querying for it again works. But just retrying will always return the error...

[2021-11-13 05:34] stoneroll6 opened #156 "v1.9.0 @cfworker/json-schema/dist/validator.js - Error when importing"
The following code in validator.js:
[code]
causes a loader error when attempting to `import { Validator } from '@cfworker/json-schema'`. It appears JS does not understand `schema, draft, shortCircuit, lookup` public instance fields appearing before constructor. Issue is fixed after removing.

Working validator.js code:
[code]

[2021-11-14 03:58] jdanyow commented on #155
What consistencyLevel are you using when constructing the `CosmosClient`? If it's session (the default), you could try preserving the client's sessionToken across worker instances via a durable object or kv. This way if a new worker starts it can enlist in session used by the previous worker.

https://github.com/cfworker/cfworker/blob/main/packages/cosmos/src/client.ts#L82

[2021-11-14 04:12] jdanyow commented on #156
Those are [public instance fields](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Public_class_fields#public_instance_fields). Where are you seeing the error? The 1.9.0 code runs in the browser/workers without any compilation.

[code]
https://gist.run/?id=a4f6c9b5854d10bcfe9c39f7345bcd10

[2021-11-14 04:36] stoneroll6 commented on #156
The error appeared while attempting to publish a Worker via Wrangler from a local machine (VSCode). I had npm installed @cfworker/json-schema. Running npm v6.14.14

[code]

[2021-11-14 09:24] #156 closed

[2021-11-14 14:45] jdanyow commented on #154
that would be great, thanks!

[2021-11-14 14:52] hazcod opened #157 "jwt: cannot decode auth0 token"
Hi, I am trying to parse a JWT I generate from auth0.

Clientside:
[code]

And in serverside:
[code]

However this always returns `invalid token: Unable to decode JWT.`. Any idea why?
`JSON Web Token (JWT) Signature Algorithm` is set to `RS256` in my auth0 application.

Altough weirdly enough I get the following from jwt.io when pasting the token:
[code]

[2021-11-14 15:10] jdanyow commented on #155
Disregard my previous comment- I found some code in the SDK that handles retry for this specific issue.
When the response's status code is 404 and an `x-ms-substatus` response header is present with value `1002` we need to clear the CosmosClient's sessionToken and retry. I'll create a PR.

[2021-11-14 22:56] Inrixia commented on #155
Ah awesome. Thanks for the help. Lmk if I can do anything, happy to help test a fix

[2021-11-15 07:08] hazcod opened #158 "Feature: support caching JWKS in KV"
Would be nice to store the JWKS with a TTL of 1 hour in Cloudflare KV.

[2021-11-16 05:30] jdanyow commented on #158
Great idea. It's out of scope for the `@cfworker/jwt` lib but you could implement it in your project by taking control of the jwks fetching:

[code]

[2021-11-16 05:31] #158 closed

[2021-11-16 05:31] #155 closed

[2021-11-16 06:00] jdanyow commented on #155
Shipped a fix in `@cfworker/cosmos@1.10.0`- let me know if you continue to encounter this issue.

[2021-11-16 06:06] Inrixia commented on #155
Will let you know as soon as I get the chance to test it. Thanks!

[2021-11-16 06:20] hazcod commented on #158
@jdanyow Thank you!
This works:

[code]

[2021-11-16 10:56] hazcod commented on #157
Seems to be an issue that I didn't supply the `audience` in my auth0 client. Closing!

[2021-11-16 10:56] #157 closed

[2021-11-17 14:38] jdanyow commented on #155
awesome! please do let me know if this is resolved.

[2021-11-18 15:35] apeiniger commented on #156
@stoneroll6 Could you share how you solved this issue? Having the same problem. I'm using @cfworker/json-schema in my create react app project and since 1.9.0 it's throwing this error when building.

[2021-11-19 01:26] stoneroll6 commented on #156
@apeiniger Yes, please see original post above for details. If the validator.js file is throwing the error when building, you can try removing the public instance fields.

Not sure if this will cause errors down the line, but schema validation was working after doing so.

[2021-11-19 23:31] jdanyow commented on #156
@apeiniger @stoneroll6 try 1.10.1. I've updated the build to target ES2021 rather than ESNEXT which has the effect of removing the instance fields in the output. This should give your build tooling some time to catch up. Please do let me know if this resolves the issue.

[2021-11-20 00:54] #151 closed

[2021-11-20 14:31] stoneroll6 commented on #156
@jdanyow Updated to 1.10.1, and it works like a charm. Thank you!

[2021-11-22 15:39] jdanyow commented on #86
closing- I recommend folks try https://github.com/robertcepa/toucan-js if they require more advanced sentry integration. cfworker/sentry is intentionally a more limited, lightweight subset of functionality.

[2021-11-22 15:39] #86 closed

[2021-11-22 15:40] jdanyow commented on #111
closing as duplicate of https://github.com/cfworker/cfworker/issues/89#issuecomment-743472265

[2021-11-22 15:40] #111 closed

[2021-11-26 00:16] Inrixia opened #168 "Bad request when attempting to query collection"
Hi, I don't know what I'm doing wrong but when attempting to use this query:

[code]
I am getting this result:
[code]
Note: I replaced sensitive info with REDACTED.

Is this a bug with this sdk or is there something I am doing wrong?

[2021-11-26 10:26] Inrixia commented on #168
What I don't understand is that I cannot use ORDER BY without a WHERE....

Maybe there is something I am missing

[2021-11-26 10:43] Inrixia commented on #168
Looks like the `enableCrossPartition` header is set to false by default which causes queries to fail unless they failter against a single partition key or single-partitioned collections re:
[code]
https://docs.microsoft.com/en-us/rest/api/cosmos-db/query-documents

Considering cosmos enforces partition keys on all new containers now afik, the default for this should probably be changed to true.

[2021-11-26 10:47] Inrixia commented on #155
Haven't extensively tested but seems to be fixed thanks :)

Will update if I run into it again

[2021-11-26 10:54] Inrixia commented on #168
I still cannot use ORDER BY without a WHERE though.... Hmm

[2021-11-26 11:26] Inrixia commented on #168
I was trying to investigate the response using `.json()`. Turns out that the `.json()` on a `FeedResponse` actually attempts to access the object properties and does not return the json parsed body of the response, this is really counterintuitive as it should be named something else to avoid confusion with the normal response api.

Looking at the body on the raw response gives the following error:

[2021-11-26 11:30] Inrixia commented on #168
Looks like its actually been deprecated and should be updated...
Non cross partition queries are now deprecated: https://github.com/jupitern/cosmosdb/issues/3

[2021-11-26 11:34] Inrixia commented on #168
According to this the gateway cannot support certain queries.....
https://docs.microsoft.com/en-us/rest/api/cosmos-db/querying-cosmosdb-resources-using-the-rest-api#queries-that-cannot-be-served-by-gateway

Does that mean that it's just not possible to execute these queries or is there some sort of work around?
- TOP
- ORDER BY
- OFFSET LIMIT
- Aggregates
- DISTINCT
- GROUP BY

[2021-11-26 11:45] Inrixia commented on #168
Looks like there is a way to handle this that the SDK's use that is covered here:
https://stackguides.com/questions/50240232/cosmos-db-rest-api-order-by-with-partitioning

I should be able to get this working in this library... Will fork and see what I can do.

Images of requests to get the above operations working:
![image](https://user-images.githubusercontent.com/6373693/143576050-99757986-0306

[2021-11-26 13:06] Inrixia commented on #168
Working with changes in pull request

[2021-11-27 02:21] jdanyow commented on #168
Closing this as duplicate of #123. Thanks for the PRs! Left some comments- need to figure out what subset of cross-partition queries it makes sense to support.

[2021-11-27 02:21] #168 closed

[2021-12-14 22:20] saibotsivad opened #178 "RFC: Using json-schema for OpenAPI validation"
Given an [OpenAPI](https://spec.openapis.org/oas/v3.1.0) definition, I would like to validate a request (query params, path params, etc.) using `@cfworker/json-schema`.

I've developed a way to do it, but it requires me to use the `validate` function instead of `new Validator`, e.g. it looks something like this:

[code]

(I made [a gist](https://gist.github.com/saibotsivad/3c1734c7aea85c88b21e2762

[2021-12-17 22:25] jdanyow opened #179 "Migrate @cfworker/sentry to prepareStackTrace"
~~https://github.com/errwischt/stacktrace-parser/blob/master/src/stack-trace-parser.js~~
https://v8.dev/docs/stack-trace-api

[2022-01-08 22:25] jdanyow commented on #178
@saibotsivad closing this, happy to re-open if you want to collab on a solution.

[2022-01-08 22:25] #178 closed

[2022-01-19 11:07] nikosgpet commented on #179
I am not getting it. Why manually parse the stack instead of using the V8 stack trace API as done here: https://github.com/borderless/worker-sentry/blob/master/src/index.ts

[2022-01-20 12:03] chipilov opened #184 "The draft parameter seems to have a limited effect on the interpretation of the schema"
The ```draft``` parameter seems to have a limited effect on the interpretation of the supplied schema.

I assume that if draft ```4``` is passed as parameter and the supplied schema contains features which are NOT supported in draft ```4```, either an exception will be thrown OR the features which are NOT part of the draft will be ignored.

For example, if I specify draft ```4``` and use ```uneval

[2022-01-23 17:15] jdanyow commented on #184
Currently draft use is limited to ensuring rules and keywords which have evolved like minimum, maximum, and $ref behave as specified in the selected draft.

It would be trivial to disable keywords based on draft

[2022-01-23 17:22] jdanyow commented on #179
Ha simple- I didn't know about the prepareStackTrace trick- thanks for the tip 🤙

[2022-02-09 18:39] timonmasberg opened #191 "[Question] JWT Cache"
https://github.com/cfworker/cfworker/blob/main/packages/jwt/src/jwks.ts

I am not very familiar with workers, but the `importedKeys` are not a durable object right? We need some persistent cache for that, such as Cloudflare KVs? Or do I understand it wrong because otherwise I don't get the need for keeping `importedKeys` for each request? Maybe the design idea behind this is to always call `import

[2022-02-11 10:42] timonmasberg commented on #191
Is extending this with a persistent storage of interest? Or do you think this should be handled by the caller (importing the key(s) from KV).

[2022-02-12 02:58] jdanyow commented on #191
I think it would be best to leave it up to the caller. In fact, I probably should have delegated the key fetching rather than forcing the default [automatic jwks fetching behavior](https://github.com/cfworker/cfworker/blob/main/packages/jwt/src/jwks.ts#L57) on everyone. Persistent storage could be implemented with today's lib like this:
[code]

[2022-02-12 14:32] timonmasberg commented on #191
Thanks for the example!

[2022-02-12 14:32] #191 closed

[2022-03-06 01:58] jdanyow opened #195 "Migrate @cfworker/web from path-to-regexp to URLPattern"
https://developer.mozilla.org/en-US/docs/Web/API/URL_Pattern_API

[2022-03-27 00:01] ItalyPaleAle opened #203 "Parsing of connection string is broken in cosmos 1.13"
Hi @jdanyow, I just noticed after upgrading that when you changed my PR #198 to #202, you changed "master key" to "account key" everywhere, **including** within the connection string.

Connection strings are provided by Cosmos DB (e.g. on the Azure Portal) and they include the token `MasterKey`. Requiring them to use `accountKey` (also note the different capitalization) breaks the behavior.

Also

[2022-03-27 00:27] #203 closed

[2022-04-06 22:30] brennie opened #208 "json-schema: treat `undefined` values as if they were not present."
It would be nice to have the option to treat undefined values as if they were not present, so a schema like
[code]

would match objects like `{}` in addition to `{"foo": undefined}` (since the `foo` key will be omitted when the object is serialized to JSON.

As a workaround, I'm doing `JSON.parse(JSON.stringify(obj))` when `obj` may have `undefined` keys, which is less than ideal.

[2022-05-03 08:36] McSodbrenner opened #214 "@cfworker/sentry: Error in README"
Hi, in the file
https://github.com/cfworker/cfworker/blob/main/packages/sentry/README.md
in the line
`const { event_id, promise } = captureError(`
it has to be `posted` instead of `promise`. The key `promise` is not defined in the returned object.

[2022-05-06 17:52] #214 closed

[2022-05-06 18:53] jdanyow commented on #214
thanks for the report! new release shipping shortly

[2022-06-02 12:10] Inrixia opened #220 "JWT enhancements"
I have a repo with helper classes for dealing with JWT's in cloudflare workers.
https://github.com/Inrixia/CFWorker-JWT

I just noticed that there is also one here that is fairly popular, the helper libraries in my repo have some additional features compared to what's supported here such as using keyvault to cache JWKS and type support for extending the payload with login flows from Auth0.

Im int

[2022-06-07 04:02] jdanyow commented on #220
I think you could use this lib and pass in your own key resolver:
https://github.com/cfworker/cfworker/blob/main/packages/jwt/src/parse.ts#L16

Your key resolver could use getJwks and cache in KV as-needed.
https://github.com/cfworker/cfworker/blob/main/packages/jwt/src/jwks.ts#L8

Thoughts?

[2022-06-07 04:45] Inrixia commented on #220
Ah yes that looks perfect. Ill experiment with this and let you know how it goes!

[2022-06-13 20:00] handrews commented on #33
No, a format can theoretically apply to multiple types, or to any type, although don't ask me to come up with an example!  From 2019-09 onward, the hope is that new keyword vocabularies will replace `format`, which has so many quirks and difficult-to-support aspects that it's not really salvageable as a keyword with reliable, consistent behavior.

[2022-06-14 02:23] jdanyow commented on #220
@Inrixia closing- happy to reopen if needed

[2022-06-14 02:23] #220 closed

[2022-06-27 16:26] brennie opened #228 "json-schema: Use $id-relative locations in errors"
Given the following schema:
[code]

and the following object:

[code]

the errors we get are:
[code]

However, it would be nice if the keywordLocations were relative to the $id of the subschema, e.g.
[code]
becomes
[code]

See-also the errors provided by [this online validator](https://www.jsonschemavalidator.net/s/Fp5HyqqQ).

Falling back to `#/$defs/foo/required` would also be acceptable.

[2022-07-09 22:36] jdanyow commented on #228
Need to add `absoluteKeywordLocation` to the output:
https://json-schema.org/specification.html#output-schemas-and-examples

[2022-08-19 01:05] #136 closed

[2022-08-30 14:27] giovanni-bertoncelli opened #235 "Localization on json-schema validator"
Is there any way to customize error message in `@cfworker/json-schema` or to enable internationalization on the library error messages?

[2022-09-03 14:30] winston0410 opened #236 "Unresolved $ref "https://json-schema.org/draft/2020-12/schema"."
I am trying to create a meta-schema to validate if an object is a schema. This is a meta-schema:

[code]

When I test it like this, I get an error:

[code]

[code]

I believe this is a proper usage of JSON schema, as I found [JSON hyper schema doing this as well](https://json-schema.org/draft/2019-09/hyper-schema)

[2022-09-05 19:05] winston0410 commented on #236
I have tried to copy and use the [meta schema of 2020-12](https://json-schema.org/draft/2020-12/schema) without referencing, and still I got the following error. Is `$ref` not implemented yet?

[code]

[2022-09-05 19:47] jdanyow commented on #236
@winston0410 Validator doesn't attempt to fetch schemas so you'll need to call `validator.addSchema(...)` to add both https://json-schema.org/draft/2020-12/schema and https://json-schema.org/draft/2020-12/meta/core prior to using `validator.validate(...)`.

[2022-09-05 19:52] jdanyow commented on #235
@giovanni-bertoncelli not at this time, what's the use case?

[2022-09-06 07:31] giovanni-bertoncelli commented on #235
I was using this library in an Angular application in order to validate forms. The application is multilingual and I need to print out the JSON schema validation error in the current language selected, but it seems that this package does not allow it. I had no other choice but to use ajv with a i18n plugin..

[2022-09-09 10:46] SvanteRichter opened #237 "[json-schema] tsconfig-base referenced in tsconfig.json but not in package"
Hello,

tsconfig-base is referenced in tsconfig.json but not included in the json-schema npm package. This leads to a warning in my non-standard build process (using esbuild directly on the package).

Would it be possible to either not include tsconfig.json in the package or include tsconfig-base?

Thanks!

[2022-09-10 17:06] #236 closed

[2022-09-10 17:08] jdanyow commented on #235
Got it- ajv is a better validator, @cfworker/json-schema is really only for scenarios where you can't precompile the schemas.

[2022-09-10 17:08] #235 closed

[2022-10-26 20:14] CanRau commented on #112
Looking for the same 🙏

[2022-11-08 23:30] jhwz opened #240 "Vite CJS / ESModule warning"
When running a svelte-kit server with the project `vite` outputs the following warning:

[code]
It's no big problem, setting:
[code]
in `vite.config.js` resolves the issue, but would be nice to have the warning removed.